<mat-card style="padding:0px;background: whitesmoke;">
  <mat-toolbar>
    <mat-toolbar-row  style="border-bottom:1px solid #dee2e6 !important">
      <span> <strong>{{customerName}}</strong> &ngsp; <mat-chip>VIP</mat-chip></span>
      <span class="toolbar-spacer"></span>
      <mat-icon svgIcon="spot-graph" style="width:16px;">bar_chart</mat-icon>
      <span>Label:</span>
      <span class="value-label text-success">Value</span>
      <span>Label:</span>
      <span class="value-label text-success">Value</span>
      <span>Label:</span>
      <span class="value-label text-success">Value</span>
      <mat-icon svgIcon="spot-chat" style="width:16px;"></mat-icon>
      <span (click)="openMessageModal()" class="pointer">
        Message Customer
      </span>
      <span class="no-margin">Actions</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon svgIcon="spot-printer"></mat-icon>
          <span>Print Bag Tag</span>
        </button>
        <button mat-menu-item>
          <mat-icon mat-list-icon svgIcon="spot-graph-page"></mat-icon>
          <span>Marketing Popup</span>
        </button>
        <button mat-menu-item>
          <mat-icon svgIcon="spot-promotion-page"></mat-icon>
          <span>Referral Coupon</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="row m-b-20 m-t-20" #drawer [ngClass]="{'drawer-closed' : !drawerOpened, 'drawer-opened' : drawerOpened}">
    <div class="border-right side-drawer">
        <mat-list>
            <a mat-list-item  routerLinkActive="spot-text-primary" [routerLinkActiveOptions]="{ exact: true }" routerLink="/customer">
              <mat-icon mat-list-icon svgIcon="spot-contact-info"></mat-icon>
              <h4 mat-line *ngIf="!menuCollapsed">Contact Info</h4>
            </a>
            <a mat-list-item  routerLinkActive="spot-text-primary" [routerLinkActiveOptions]="{ exact: true }" routerLink="/customer/preference">
              <mat-icon mat-list-icon svgIcon="spot-garment"></mat-icon>
              <h4 mat-line *ngIf="!menuCollapsed">Preferences</h4>
            </a>
            <a mat-list-item  routerLinkActive="spot-text-primary" [routerLinkActiveOptions]="{ exact: true }" routerLink="/customer/credit-card">
              <mat-icon mat-list-icon svgIcon="spot-credit-card"></mat-icon>
              <h4 mat-line *ngIf="!menuCollapsed">Credit Card</h4>
            </a>
            <a mat-list-item  routerLinkActive="spot-text-primary" [routerLinkActiveOptions]="{ exact: true }" routerLink="/customer/referral">
              <mat-icon mat-list-icon svgIcon="spot-referral"></mat-icon>
              <h4 mat-line *ngIf="!menuCollapsed">Referral</h4>
            </a>
            <a mat-list-item  routerLinkActive="spot-text-primary" [routerLinkActiveOptions]="{ exact: true }" routerLink="/customer/promotion">
              <mat-icon mat-list-icon svgIcon="spot-promotions"></mat-icon>
              <h4 mat-line *ngIf="!menuCollapsed">Promotion</h4>
            </a>
            <a mat-list-item  routerLinkActive="spot-text-primary" [routerLinkActiveOptions]="{ exact: true }" routerLink="/customer/account-receivable">
              <mat-icon mat-list-icon svgIcon="spot-order-history"></mat-icon>
              <h4 mat-line *ngIf="!menuCollapsed">Acct. Receivable</h4>
            </a>
            <a mat-list-item  routerLinkActive="spot-text-primary" [routerLinkActiveOptions]="{ exact: true }" routerLink="/customer/notification">
              <mat-icon mat-list-icon svgIcon="spot-notification-icon"></mat-icon>
              <h4 mat-line *ngIf="!menuCollapsed">Notifications</h4>
            </a>
            <a mat-list-item  routerLinkActive="spot-text-primary" [routerLinkActiveOptions]="{ exact: true }" routerLink="/customer/setting">
              <mat-icon mat-list-icon svgIcon="spot-settings"></mat-icon>
              <h4 mat-line *ngIf="!menuCollapsed">Settings</h4>
            </a>
            <a mat-list-item  routerLinkActive="spot-text-primary" [routerLinkActiveOptions]="{ exact: true }" routerLink="/customer/lookup">
              <mat-icon mat-list-icon svgIcon="spot-lookup"></mat-icon>
              <h4 mat-line *ngIf="!menuCollapsed">Lookup</h4>
            </a>
            <a mat-list-item  routerLinkActive="spot-text-primary" [routerLinkActiveOptions]="{ exact: true }" routerLink="/customer/pricing">
              <mat-icon mat-list-icon svgIcon="spot-suitcase"></mat-icon>
              <h4 mat-line *ngIf="!menuCollapsed">Pricing</h4>
            </a>
            <a mat-list-item  routerLinkActive="spot-text-primary" [routerLinkActiveOptions]="{ exact: true }" routerLink="/customer/crm">
              <mat-icon mat-list-icon svgIcon="spot-crm"></mat-icon>
              <h4 mat-line *ngIf="!menuCollapsed">
                CRM
              </h4>
            </a>
            <!-- <mat-divider></mat-divider> -->
          </mat-list>
          <!-- <mat-divider></mat-divider> -->
          <mat-list>
            <mat-list-item (click)="toggleDrawer()">
              <mat-icon mat-list-icon class="icofont icofont-tack-pin flip"></mat-icon>
              <h4 mat-line *ngIf="!menuCollapsed">Collapse Menu</h4>
            </mat-list-item>
          </mat-list>
    </div>
    <div class="drawer-content" style="padding-top:15px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-card>