.toolbar-spacer {
    flex: 1 1 auto;
}
span.value-label{
    margin-right:8px;
} 
mat-card{
    margin:8px;
}
mat-toolbar span {
    font-size: 14px;
    line-height: 16px 
}
mat-toolbar span:not(.no-margin) {
    margin: 0px 10px 0px 0;
}
mat-card{
    margin:8px;
} 
.border-right{
    border-right: 1px solid rgba(4, 4, 4, 0.7);
}
.mat-list-base .mat-list-item{
    height:40px;
    cursor:pointer;
    font-size: 11pt; 
    color: rgba(4, 4, 4, 0.7);
}

a:link ,a:visited ,a:hover ,a:active {
    text-decoration: none;
}

.drawer-content {
    padding-right: 0%;
    padding-left: 0.5%;
}

.drawer-closed {
    .side-drawer {
        margin-left: 1%;
        width: 4.5%;
        transition: width .1s;
    }
    .drawer-content {
        width: 94.5%;
        transition: width .1s;
    }
}

.drawer-opened {
    .side-drawer {
        margin-left: 1%;
        width: 180px;
        transition: width .3s;
    }
    .drawer-content {
        width: calc(100% - 15em);
        transition: width .3s;
    }
}

.flip{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}