<form [formGroup]="customerService.informationForm" autocomplete="off" autocapitalize="none" autocomplete="off" role="form" class="row">
  <div class="col-sm-3">
    <h6>Name</h6>
    <mat-card>
      <mat-form-field class="spot-text-primary">
        <input matInput placeholder="First Name" formControlName="firstName" />
      </mat-form-field>
      <mat-form-field class="spot-text-primary">
        <input matInput placeholder="Last Name" formControlName="lastName" />
      </mat-form-field>
    </mat-card>
    <h6 class="section-spacer">Type</h6>
    <mat-card>
      <mat-form-field class="spot-text-primary">
        <mat-select placeholder="Type *" formControlName="customerType">
          <mat-option value="Individual"> Individual </mat-option>
          <mat-option value="Company"> Company </mat-option>
        </mat-select>
      </mat-form-field>
      <br /><div class="vip-user">VIP User</div><br />
      <mat-radio-group formControlName="vip">
        <label class="checkboxContainer">
          <input type="radio" id="checkYes" name="vipUser" [attr.checked]="isVip" />
          <span class="checkmark"></span>
          <span class="label-for-check"> Yes</span>
        </label>
        <label class="checkboxContainer">
          <input type="radio" id="checkNo" name="vipUser" [attr.checked]="!isVip" />
          <span class="checkmark"></span>
          <span class="label-for-check"> No</span>
        </label>
      </mat-radio-group>
    </mat-card>
    <h6 class="section-spacer">Passwords</h6>
    <mat-card>
      <mat-form-field class="spot-text-primary password-input-holder">
        <input matInput placeholder="Password" formControlName="password" type="text" [ngClass]="{'passowrd-input' : !passwordVisible }"/>
        <mat-icon  toggle="#password-field" svgIcon="spot-show"  [class.field-icon]="true" [class.toggle-password]="true" (click)="passwordVisible = !passwordVisible;" tabindex="1"></mat-icon>
       <!--  <button toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password" (click)="passwordVisible = !passwordVisible;" tabindex="1"></button> -->
      </mat-form-field>
    </mat-card>
  </div>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-8">
        <h6>
          Address
          <span class="pull-right text-gray pointer noselect" (click)="addAddress()"><mat-icon svgIcon="spot-add-more-button-icon"></mat-icon>
            Add More
          </span>
        </h6>
        <mat-card>
          <ng-container *ngFor="let address of addressData.controls; let i = index">
            <div class="row line-height-16">
              <div class="col">
                Address for
                <span class="spot-text-primary">
                  <!-- <ng-container *ngFor="let f of address.for; let i = index; let isLast = last">{{f}}{{isLast ? '' : ', '}}</ng-container> -->
                  {{ addressData.get(i + '.addressee')?.value }}
                </span>
              </div>
            </div>
            <div class="row line-height-19" style="margin: 0px; margin-bottom: 20px">
              <div class="col-sm-10 spot-text-primary" style="padding:15px 0 2px 0;border-bottom: 1px solid #ddd;">
                <input matInput readonly type="text" value="{{ addressData.get(i + '.line1')?.value }} {{ addressData.get(i + '.line2')?.value }}, {{ addressData.get(i + '.city')?.value }}, {{ addressData.get(i + '.state')?.value }}  {{ addressData.get(i + '.zip')?.value }}"/>
              </div>
              <div class="col-sm-2 text-center" style="padding:15px 0 2px 0;">
                <mat-icon mat-list-icon svgIcon="spot-edit" style="margin-right:8px;" (click)="editAddress(i,address.value)"></mat-icon>
                <mat-icon mat-list-icon svgIcon="spot-delete" (click)="deleteAddress(i)"></mat-icon>
              </div>
            </div>
          </ng-container>
        </mat-card>
      </div>
    </div>
    <div class="row section-spacer">
      <div class="col-sm-5">
        <h6>
          Phone
          <span class="pull-right text-gray pointer noselect" (click)="addPhone()"><mat-icon svgIcon="spot-add-more-button-icon"></mat-icon> Add More
          </span>
        </h6>
        <mat-card>
          <ng-container *ngFor="let phone of phoneData.controls; let i = index"  formArrayName="phones">
            <div class="row" [formGroupName]="i">
              <mat-form-field class="spot-text-primary col-sm-5">
                <mat-select placeholder="Mobile" formControlName="phoneType">
                  <mat-option value="Mobile" id="{{ 'mobile' + i }}"> Mobile </mat-option>
                  <mat-option value="Landline" id="{{ 'landline' + i }}"> Landline </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="spot-text-primary col-sm-7">
                <input matInput placeholder="Number *" id="{{ 'number' + i }}" formControlName="number" appPhoneMask/>
              </mat-form-field>
            </div>
          </ng-container>
        </mat-card>
      </div>
      <div class="col-sm-5">
        <h6>
          Email
          <span (click)="addEmail()" class="pull-right text-gray pointer noselect"><mat-icon svgIcon="spot-add-more-button-icon"></mat-icon> Add More
          </span>
        </h6>
        <ng-container *ngFor="let email of emailData.controls; let i = index" formArrayName="emails">
          <mat-card>
            <mat-form-field class="spot-text-primary">
              <input matInput placeholder="Email" value="{{ emailData.get(i + '.email')?.value }}" />
            </mat-form-field>
          </mat-card>
        </ng-container>
        <mat-card>
          <button mat-button color="warn" [class.send_message_btn]="1" (click)="saveCustomerInformation()">Save</button>  
        </mat-card>
      </div>
    </div>
  </div>
</form>
