/* The checkboxContainer */
.checkboxContainer {
    display: inline;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    height: 19px;
    width: 27px;
    margin-left: 5px;
    margin-right: 10px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 10px;
    width: 10px;
    margin-top: 0px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  
  
  /* On mouse-over, add a grey background color */
  .checkboxContainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .checkboxContainer input:checked ~ .checkmark {
    background-color: #C78500;
  }
  .checkboxContainer input:checked ~ .label-for-check {
   color: #C78500;
  }
  
  .checkboxContainer input:checked +.label{
    background-color: #C78500;
  }
  
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .checkboxContainer input:checked ~ .checkmark:after {
    display: block;
  }

  .vip-user {
    opacity: 0.7 !important;
    color: #333333 !important;
    font-family: Roboto !important;
    font-size: 11px !important;
    line-height: 16px !important;
  }

  .password-input-holder input.passowrd-input {
    -webkit-text-security: circle;
  }

  .password-input-holder .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -2px;
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    outline: none;
  }

  .section-spacer {
      margin-top: 20px;
  }