<form role="form" [formGroup]="customerService.pricingForm" autocapitalize="none" autocomplete="off">
  <div class="row">
    <div class="col-md-3">
      <h6 class="headings-custom mt-3">Price Table</h6>
      <mat-card class="full-container">
        <mat-form-field class="spot-text-primary" color="primary" floatLabel="always">
          <mat-select placeholder="Price Table" formControlName="priceTable">
            <mat-option *ngFor="let price of priceTable" [value]="price.id">{{price.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="spot-text-primary" color="primary">
          <mat-select placeholder="Level" formControlName="level">
            <mat-option *ngFor="let l of level" [value]="l.id">{{l.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </div>
    <div class="col-md-3">
      <h6 class="headings-custom mt-3">Customer Rating</h6>
      <mat-card class="full-container">
        <div class="row no-gutters">
          <div class="col-md-7">
            <mat-form-field class="spot-text-primary col-md-12" color="primary" floatLabel="always">
              <mat-select placeholder="Rating">
                <mat-option value="A">D</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4 mt-4 pr-3">
            <button class="badge badge-custom">
              <i class="fa fa-lock"></i> Lock Rating</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h6>
        Tax Authorities
        <span class="text-gray pointer noselect pull-right" (click)="addTaxAuthorities()" ><mat-icon svgIcon="spot-add-more-button-icon"></mat-icon>
          Add More
        </span>
      </h6>
      <div class="clearfix"></div>
      <ng-container formArrayName="taxAuthorities" *ngFor="let tax of taxAuthoritiesData.controls; let i = index">
        <mat-card class="full-container" [formGroupName]="i">
          <mat-form-field class="spot-text-primary" color="primary" floatLabel="always">
            <mat-select placeholder="Authority" formControlName="authority">
              <mat-option *ngFor="let a of authorities" [value]="a.id">{{a.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card>
      </ng-container>
    </div>
  </div>
</form>
