<div class="row">
  <div class="row">
    <article class="col-sm-12">
      <h5 class="ml-1"><strong>Paymont Types Allowed</strong></h5>
      <mat-card>
        <div class="row">
          <div class="col-auto">
            <div class="justify-content-center credit-card-box enabled">
              <mat-icon class="credit-card-box-icon mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true">dehaze</mat-icon>
              <br />
              <span class="credit-card-label">Cash</span>
              <mat-checkbox type="checkbox" class="hidden" aria-checked="true"></mat-checkbox>
            </div>
          </div>
          <div class="col-auto">
            <div class="justify-content-center credit-card-box disable">
              <mat-icon class="credit-card-box-icon mat-icon material-icons mat-icon-no-color" id="color" role="img"
                aria-hidden="true">aspect_ratio</mat-icon>
              <br />
              <span class="credit-card-label">Check</span>
              <mat-checkbox type="checkbox" class="hidden" aria-checked="true"></mat-checkbox>
            </div>
          </div>
          <div class="col-auto">
            <div class="justify-content-center credit-card-box enabled">
              <mat-icon class="credit-card-box-icon mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true">credit_card</mat-icon>
              <br />
              <span class="credit-card-label">Credit Card</span>
              <mat-checkbox type="checkbox" class="hidden" aria-checked="true"></mat-checkbox>
            </div>
          </div>
        </div>
        <div class="pad-5">
          <small>Click above boxes to enabled and disable</small>
        </div>
        <mat-divider></mat-divider>
      </mat-card>
    </article>
  </div>
</div>
<br>
<div class="row">
  <div class="row">
    <div class="container">
      <article class="col-sm-12">
        <h5 class="ml-1"><strong>SkanTrac Settings</strong></h5>
        <mat-card class="card_width">
          <mat-form-field class="spot-text-primary" id="field">
            <input type="text" matInput placeholder="ScanTrac" value="Enabled">
            <button type="button" class="btn2">Go to Settings</button>
          </mat-form-field>
        </mat-card>
      </article>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="row">
    <div class="container">
      <article class="col-sm-12">
        <h5 class="ml-1"><strong>Reassign Home Location</strong></h5>
        <mat-card class="card_width">
          <mat-form-field class="spot-text-primary" id="field">
            <mat-select placeholder="Home Location">
              <mat-option *ngFor="let loc of Location" [value]="loc.value">
                {{loc.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card>
      </article>
    </div>
  </div>
</div>