.credit-card-box {
    height: 100px;
    width: 100%;
    border-radius: 3px;
    background-color: rgba(38,180,80,0.1);
    text-align: center;
    cursor: pointer;
    font-family: Roboto;
}

.enabled {
    border: 1px solid #26B450;
    color: #26B450;
}

.disable {
    border: 1px solid rgba(51,51,51,0.3);
    background-color: rgba(51,51,51,0.1);
}

.enabled-icon {    
    color: #26B450;
}
mat-icon{
    color: #26B450;
}
#color{
    color:rgba(51,51,51,0.3);
}
.credit-card-box-icon {
    font-size: 60px;
    width: 100px;
    height: 50px;
}

.pad-top-10 {
    padding-top: 10%;
}

.pad-5 {
    padding-top: 5%;
    padding-bottom: 5%;
}

.drk-gray-rgt-border {
    border-right: 1px solid darkslategray;
}
.ScanTrac{
    color:rgba(51,51,51,0.3);
}
.scan{
    border-bottom: 1px solid rgba(51,51,51,0.3);
}
.card_width{
    width: 300px;
}
.btn2{
    margin-left: -117px;
    margin-top: -4px;
    border: 1px solid #bfadad;
    color: #443d3d;
    border-radius: 3px;
    width: 45%;
    position: absolute;
    background-color: #f5f5f5;
}
#field{
    width: 100%;
}
