<div class="row font-all m-1">
  <div class="col-md-3">
    <form [formGroup]="customerService.notificationsForm" autocomplete="off" autocapitalize="none" autocomplete="off" role="form" class="row">
      <h6 class="headings-custom">Notification Settings</h6>
      <mat-card class="m-0">
        <mat-card-content class="justify-content-center">
          <div (click)="enableToggle()" [ngClass]="[enabledValue ? 'fa-color-custom' : 'text-danger']" style="max-width: 220px">
            <span [ngClass]="[enabledValue ? 'fa-color-green fa fa-bell-o iconbg-green' : 'fa-color-red fa fa-bell-slash-o iconbg-red']">
                <span class="icon-text row noselect"><strong>{{enabledValue ? 'Enabled' : 'Disabled'}}</strong></span>
            </span>
          </div>
          <p class="text-muted mb-0 mt-3 noselect"> {{enabledValue ? 'Click above to disable' : 'Click above to enable'}}</p>
          <mat-checkbox type="checkbox" [checked]="enabledValue" formControlName="enabled" class="hidden"></mat-checkbox>          
          <mat-divider style="position:relative"></mat-divider>
          <h6 class="headings-custom mt-4 text-muted">
              Disable All Notifications
            </h6>
          <p class="text-muted">Disabling all notifications also disables the customer from being selected in batch
            emails and batch
            SMS messages.
          </p>
        </mat-card-content>
      </mat-card>
      <h6 class="headings-custom ml-2 mt-3">Receipt</h6>
      <mat-card>
        <mat-form-field class="spot-text-primary">
          <mat-select [(value)]="selected" placeholder="Receipt Preference" formControlName="receipt">
            <mat-option value="Emailed"> Emailed </mat-option>
            <mat-option value="Pending"> Pending </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </form>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <p class="pull-right text-gray">
          <i class="fa fa-circle spot-text-primary"></i>
          Rows with yellow label are user defined.
        </p>
        <h6 class="headings-custom">Notifications</h6>
        <mat-card class="ml-0">
          <table class="table mb-0 mt-0">
            <tbody>
              <tr class="text-muted">
                <td class="clear-border">Account Activity</td>
                <td class="clear-border">
                  <span><i class="fa fa-envelope-o fa-color-custom"> 1</i></span>
                  <span><i class="fa fa-commenting-o fa-color-custom ml-2"></i></span>
                </td>
                <td class="clear-border">
                  <span class="float-right"><i class="fa fa-pencil"></i> Edit</span>
                </td>
              </tr>
              <tr class="text-muted">
                <td>
                  <span class="spot-text-primary">Orders Ready</span>
                </td>
                <td>
                  <span><i class="fa fa-envelope-o fa-color-custom"> 1</i></span>
                  <span><i class="fa fa-envelope-o fa-color-custom ml-2"> 2</i></span>
                  <span><i class="fa fa-commenting-o fa-color-custom ml-2"></i></span>
                </td>
                <td>
                  <span class="float-right"><i class="fa fa-pencil"></i> Edit</span></td>
              </tr>
              <tr class="text-muted">
                <td>Late for Pickup </td>
                <td>
                  <span><i class="fa fa-commenting-o fa-color-custom"></i></span>
                </td>
                <td>
                  <span class="float-right"><i class="fa fa-pencil"></i> Edit</span>
                </td>
              </tr>
            </tbody>
          </table>
          <mat-divider></mat-divider>
          <mat-accordion>
            <mat-expansion-panel [expanded]="isPanelOpen">
              <mat-expansion-panel-header [collapsedHeight]="'47px'" [expandedHeight]="'47px'">
                <b>Others</b>
                <span class="collapse-control text-muted"><b>{{isPanelOpen == false ? 'Expand' : 'Collapse'}}</b></span>
              </mat-expansion-panel-header>
              <mat-divider></mat-divider>
              <table class="table borderless mt-3">
                <span class="font-weight-bold ml-2 row-head">Counter</span>
                <tbody>
                  <tr class="text-muted">
                    <td class="clear-border spot-text-primary">Order Detailed</td>
                    <td class="clear-border">
                      <span class="text-danger">Disabled</span>
                    </td>
                    <td class="clear-border">
                      <span class="float-right"><i class="fa fa-pencil"></i> Edit</span>
                    </td>
                  </tr>
                  <tr class="text-muted">
                    <td>
                      <span>Order Quicked</span>
                    </td>
                    <td>
                      <span><i class="fa fa-envelope-o fa-color-custom"> 1</i></span>
                      <span><i class="fa fa-envelope-o fa-color-custom ml-2"> 2</i></span>
                      <span><i class="fa fa-commenting-o fa-color-custom ml-2"></i></span>
                    </td>
                    <td>
                      <span class="float-right"><i class="fa fa-pencil"></i> Edit</span></td>
                  </tr>
                  <tr class="text-muted">
                    <td class=" spot-text-primary">Order Scanned</td>
                    <td>
                      <span><i class="fa fa-envelope-o fa-color-custom"> 1</i></span>
                      <span><i class="fa fa-envelope-o fa-color-custom ml-2"> 2</i></span>
                      <span><i class="fa fa-commenting-o fa-color-custom ml-2"></i></span>
                    </td>
                    <td>
                      <span class="float-right"><i class="fa fa-pencil"></i> Edit</span>
                    </td>
                  </tr>
                  <tr class="text-muted">
                    <td>
                      <span>Order Sold</span>
                    </td>
                    <td>
                      <span><i class="fa fa-envelope-o fa-color-custom"> 1</i></span>
                      <span><i class="fa fa-envelope-o fa-color-custom ml-2"> 2</i></span>
                      <span><i class="fa fa-commenting-o fa-color-custom ml-2"></i></span>
                    </td>
                    <td>
                      <span class="float-right"><i class="fa fa-pencil"></i> Edit</span></td>
                  </tr>
                </tbody>
              </table>
              <mat-divider></mat-divider>
              <table class="table borderless mt-4">
                <span class="font-weight-bold ml-2 row-head">Route</span>
                <tbody>
                  <tr class="text-muted">
                    <td class="clear-border">Order Detailed</td>
                    <td class="clear-border">
                      <span><i class="fa fa-envelope-o fa-color-custom"> 1</i></span>
                      <span><i class="fa fa-commenting-o fa-color-custom ml-2"></i></span>
                    </td>
                    <td class="clear-border">
                      <span class="float-right"><i class="fa fa-pencil"></i> Edit</span>
                    </td>
                  </tr>
                  <tr class="text-muted">
                    <td>
                      <span>Orders Scanned</span>
                    </td>
                    <td>
                      <span><i class="fa fa-envelope-o fa-color-custom"> 1</i></span>
                      <span><i class="fa fa-envelope-o fa-color-custom ml-2"> 2</i></span>
                      <span><i class="fa fa-commenting-o fa-color-custom ml-2"></i></span>
                    </td>
                    <td>
                      <span class="float-right"><i class="fa fa-pencil"></i> Edit</span></td>
                  </tr>
                </tbody>
              </table>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card>
      </div>
    </div>
  </div>
</div>
