.mat-expansion-panel-header {
    padding: 0 14px;
}

.mat-expansion-panel {
    display: contents;
    overflow: hidden; 
}

.mat-header-height{
    height: 50px;
}
.collapse-control{
    position: absolute;
    right: 45px;
}
.fa-color-custom{
    color: #28c53d;  
}
.fa-color-red{
    color: #df4747e7;
    font-size:48px;
    padding-left: 87px;
    cursor: pointer;
}
.fa-color-green{
    color: #28c53d;
    font-size:48px;
    padding-left: 87px;
    cursor: pointer;
}
.fa-ls{
    margin: 0px -96px 0px 0px;
}
.clear-border{
    border-top: none;
}
.row-head{
    padding-left: 6px;
}
.font-all{
    font-size: 15px;
}
.headings-custom{
    padding: 0 1px;
    color: #333333;
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    width: 100%;
}
.icon-text{
    padding: 5px 0px 0px 12px;
    font-size: 15px;
}

.iconbg-green {
    width: 100%;
    height: 108px;
    padding: 17px 20px 15px 84px;
    background: #55f04044;
    border: 1px solid rgba(23, 182, 18, 0.548);
    border-radius: 6px
}

.iconbg-red {
    width: 220px;
    height: 108px;
    padding: 17px 20px 15px 84px;
    background: #ea7c8244;
    border: 1px solid rgba(207, 60, 60, 0.548);
    border-radius: 6px
}
