<section class="col-sm-12">
  <section class="row">
    <section class="col-sm-4">
      <section class="left_side">
        <form class="">
          <article class="col-sm-12">
            <h5 class="ml-1"><strong>Account Summary</strong></h5>
            <mat-card class="card_width">
              <section class="spot-text-primary" id="wrap_section" [ngClass]="onClick ? 'border_down_orange' : 'border_down_black'">
                <section class="billed_aging" (click)="clickEvent()" [ngClass]="!text_color ? 'color_orange' : 'color_dark'">Billed
                  Aging</section>
                <section class="posted_aging" (click)="clickEvent2()" [ngClass]="text_color ? 'color_orange' : 'color_dark'">Posted
                  Aging</section>
              </section>
              <div class="wrap_billed_items" *ngIf="!text_color">
                <div class="billed_items">
                  <div class="col-sm-3">
                    <div class="pull-right">
                      <div class="seperate">
                        <strong>0-30</strong>
                      </div>
                      <div class="clr_green">
                        <strong>-1.50</strong>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="pull-right">
                      <div class="seperate">
                        <strong>31-60</strong>
                      </div>
                      <div class="clr_purple">
                        <strong>0.00</strong>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="pull-right">
                      <div class="seperate">
                        <strong>61-90</strong>
                      </div>
                      <div class="clr_purple">
                        <strong>0.00</strong>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="pull-right">
                      <div class="seperate">
                        <strong>91 +</strong>
                      </div>
                      <div class="clr_purple_lit">
                        <strong>0.00</strong>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="billed_balance">
                  <div class="billed_inner">
                    <label for="" class="pull-left text-justify-center">
                      <strong>
                        Billed Balance Due
                      </strong>
                    </label>
                    <label for="" class="clr_green mr_l_px">
                      <strong>-$1.50</strong>
                    </label>
                  </div>
                </div>
                <div class="billed_balance">
                  <div class="billed_inner">
                    <label for="" class="pull-left text-justify-center">
                      Status
                    </label>
                    <label for="" class="clr_green mr_l_px">
                      <strong>Active</strong>
                    </label>
                  </div>
                </div>
                <div class="billed_balance">
                  <div class="billed_inner">
                    <label for="" class="pull-left text-justify-center">
                      Limit
                    </label>
                    <label for="" class="mr_l_px">
                      <strong>None</strong>
                    </label>
                  </div>
                </div>
                <div class="Available">
                  <div class="billed_inner">
                    <label for="" class="pull-left text-justify-center">
                      Available
                    </label>
                    <label for="" class="clr_green mr_l_px">
                      <strong>Unlimited</strong>
                    </label>
                  </div>
                </div>
              </div>
              <!-- <mat-divider _ngcontent-c21="" class="mat-divider" role="separator"></mat-divider> -->
            </mat-card>
          </article>
        </form>
      </section>
    </section>
    <div class="col-sm-8">
      <div class="right_side">
        <div class="row">
          <article class="col-sm-12">
            <h5 class="ml-1"><strong>Account Detail</strong></h5>
            <mat-card class="cardWH">
              <div class="spot-text-primary" id="wrap_section" [ngClass]="onClick3 ? 'border_down_orange' : 'border_down_black'">
                <div class="billed_aging" (click)="clickEvent3()" [ngClass]="!text_color3 ? 'color_orange' : 'color_dark'">Open</div>
                <div class="posted_aging" (click)="clickEvent4()" [ngClass]="text_color3 ? 'color_orange' : 'color_dark'">Payments</div>
                <div class="posted_aging" (click)="clickEvent4()" [ngClass]="text_color3 ? 'color_orange' : 'color_dark'">Statements</div>
              </div>
              <br>
              <div class="table-wrap" *ngIf="!text_color3">
                <table class="table tbl" border="1">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Invoice #</th>
                      <th scope="col">Posted</th>
                      <th scope="col">Comments</th>
                      <th scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>10-005458</td>
                      <td>11/02</td>
                      <td class="width_400"></td>
                      <td>$6.62</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="link-wrap">
                <div class="inline-link">
                  <mat-icon class="credit-card-box-icon mat-icon material-icons mat-icon-no-color justify-content-center"
                    role="img" aria-hidden="true">event_note
                  </mat-icon>
                  <a href="#" class="link_clr">Activity Report</a>
                  <mat-icon class="credit-card-box-icon mat-icon material-icons mat-icon-no-color justify-content-center"
                    role="img" aria-hidden="true">event_note
                  </mat-icon>
                  <a href="#" class="link_clr">Summary Report</a>
                  <mat-icon class="credit-card-box-icon mat-icon material-icons mat-icon-no-color" role="img"
                    aria-hidden="true">
                    print
                  </mat-icon>
                  <a href="#" class="link_clr">Email Invoices</a>
                </div>
              </div>
            </mat-card>
          </article>
        </div>
      </div>
    </div>
  </section>
</section>
<section class="p-b"></section>
<section class="row">
  <section class="wrap_account">
    <div class="col-sm-12 inline">
      <article class="col-sm-4">
        <h5 class="ml-1"><strong>Account Settings</strong></h5>
        <mat-card>
          <div class="col-auto">
            <div [class.enabled]="enabledValue" [class.disabled]="!enabledValue" [class]="enabledValue ? 'credit_card_box1':'credit_card_box2'" class="credit_card_box2 justify-content-center enabled"
              (click)="enableToggle()">
              <mat-icon [class.enabled-icon]="enabledValue" [class.disabled-icon]="!enabledValue" class="credit_card_box_icon mat-icon material-icons mat-icon-no-color text-justify-center">account_circle_outline</mat-icon>
              <br />
              <span class="credit-card-label noselect justify-content-center">Credit Card: {{enabledValue ? 'Enabled': 'Disabled'}}</span>
              <mat-checkbox type="checkbox" [checked]="enabledValue" class="hidden"></mat-checkbox>
            </div>
          </div>
          <div class="pad-5">
            <small>Click above to {{ enabledValue ? 'Enabled':'disabled' }}</small>
          </div>
          <mat-divider></mat-divider>
          <br>
          <mat-form-field class="spot-text-primary" id="field">
            <mat-select placeholder="Account Type">
              <mat-option *ngFor="let rew of type" [value]="rew.value">
                {{rew.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="spot-text-primary" id="field">
            <input type="text" matInput placeholder="Account Number" value="FS1482">
            <button type="button" class="btn2">Copy from ID</button>
          </mat-form-field>
        </mat-card>
        <br>
        <h5 class="ml-1"><strong>ACH Bank Draft Information</strong></h5>
        <mat-card>
          <mat-form-field id="field">
            <input type="text" matInput placeholder="Routing Number">
          </mat-form-field>
          <mat-form-field id="field">
            <input type="text" matInput placeholder="Account Number">
          </mat-form-field>
          <mat-form-field id="field" class="spot-text-primary">
            <mat-select placeholder="Account Type">
              <mat-option *ngFor="let rew of ac_type" [value]="rew.value">
                {{rew.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field id="field" class="spot-text-primary">
            <mat-select placeholder="Account Status">
              <mat-option *ngFor="let rew of ac_status" [value]="rew.value">
                {{rew.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="note">
            <span class="text-danger">Note:</span>
            <span class="note_inner"> ACH Information is used by SPOT only for paying A/R balance in batch (A/R Auto-pay).ACH entries will take precedence over CCOF when both are present.</span>
          </div>
        </mat-card>
      </article>
      <article class="col-sm-4">
        <h5 class="ml-1"><strong>A/R Settings</strong></h5>
        <mat-card>
          <mat-form-field class="spot-text-primary" id="field2">
            <mat-select placeholder="Counter A/R Post At">
              <mat-option *ngFor="let rew of countr" [value]="rew.value">
                {{rew.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="spot-text-primary" id="field2">
            <mat-select placeholder="Route A/R Post At">
              <mat-option *ngFor="let rew of rot" [value]="rew.value">
                {{rew.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="spot-text-primary" id="field">
            <mat-select placeholder="Payment Precedence">
              <mat-option *ngFor="let rew of pay" [value]="rew.value">
                {{rew.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="spot-text-primary" id="field2">
            <input matInput placeholder="Account Limit $" value="0.00">
          </mat-form-field>
          <mat-form-field class="spot-text-primary" id="field2">
            <input matInput placeholder="Billing Discount %" value="10">
          </mat-form-field>
          <mat-form-field class="spot-text-primary" id="field2">
            <input matInput placeholder="Assess Late Charge" value="" disabled>
            <label class="checkboxContainer">
              <input type="radio" id="checkYes" name="vipUser" [attr.checked]="isVip" />
              <span class="checkmark"></span>
              <span class="label-for-check"> Yes</span>
            </label>
            <label class="checkboxContainer">
              <input type="radio" id="checkNo" name="vipUser" [attr.checked]="!isVip" />
              <span class="checkmark"></span>
              <span class="label-for-check"> No</span>
            </label>
          </mat-form-field>
          <mat-form-field class="spot-text-primary" id="field2">
            <input matInput placeholder="Assess Interest" value="" disabled>
            <label class="checkboxContainer">
              <input type="radio" id="checkYes" name="vipUser1" [attr.checked]="isVip" />
              <span class="checkmark"></span>
              <span class="label-for-check"> Yes</span>
            </label>
            <label class="checkboxContainer">
              <input type="radio" id="checkNo" name="vipUser1" [attr.checked]="!isVip" />
              <span class="checkmark"></span>
              <span class="label-for-check"> No</span>
            </label>
          </mat-form-field>
          <mat-form-field class="spot-text-primary" id="field">
            <input matInput placeholder="Disable Special Charge" value="" disabled>
            <label class="checkboxContainer">
              <input type="radio" id="checkYes" name="vipUser2" [attr.checked]="isVip" />
              <span class="checkmark"></span>
              <span class="label-for-check"> Yes</span>
            </label>
            <label class="checkboxContainer">
              <input type="radio" id="checkNo" name="vipUser2" [attr.checked]="!isVip" />
              <span class="checkmark"></span>
              <span class="label-for-check"> No</span>
            </label>
          </mat-form-field>
        </mat-card>
        <br>
        <mat-card>
          <mat-form-field class="spot-text-primary" id="field2">
            <input matInput placeholder="Assess Interest" value="" disabled>
            <label class="checkboxContainer">
              <input type="radio" id="checkYes" name="vipUser7" [attr.checked]="isVip" />
              <span class="checkmark"></span>
              <span class="label-for-check"> Yes</span>
            </label>
            <label class="checkboxContainer">
              <input type="radio" id="checkNo" name="vipUser7" [attr.checked]="!isVip" />
              <span class="checkmark"></span>
              <span class="label-for-check"> No</span>
            </label>
          </mat-form-field>
          <mat-form-field class="spot-text-primary" id="field">
            <input matInput placeholder="Disable Special Charge" value="" disabled>
            <label class="checkboxContainer">
              <input type="radio" id="checkYes" name="vipUser8" [attr.checked]="isVip" />
              <span class="checkmark"></span>
              <span class="label-for-check"> Yes</span>
            </label>
            <label class="checkboxContainer">
              <input type="radio" id="checkNo" name="vipUser8" [attr.checked]="!isVip" />
              <span class="checkmark"></span>
              <span class="label-for-check"> No</span>
            </label>
          </mat-form-field>
          </mat-card>
      </article>
      <article class="col-sm-4">
        <h5 class="ml-1"><strong>Statement & Invoice Settings</strong></h5>
        <mat-card>
          <mat-form-field class="spot-text-primary" id="field">
            <input matInput placeholder="Print / Send Statement" value="" disabled>
            <label class="checkboxContainer">
              <input type="radio" id="checkYes" name="vipUser3" [attr.checked]="isVip" />
              <span class="checkmark"></span>
              <span class="label-for-check"> Yes</span>
            </label>
            <label class="checkboxContainer">
              <input type="radio" id="checkNo" name="vipUser3" [attr.checked]="!isVip" />
              <span class="checkmark"></span>
              <span class="label-for-check"> No</span>
            </label>
          </mat-form-field>
          <mat-form-field class="spot-text-primary" id="field">
            <mat-select placeholder="Send Statement Method">
              <mat-option *ngFor="let rew of meth" [value]="rew.value">
                {{rew.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="spot-text-primary" id="field">
            <input matInput placeholder="Item Info on Statement" value="" disabled>
            <label class="checkboxContainer">
              <input type="radio" id="checkYes" name="vipUser4" [attr.checked]="isVip" />
              <span class="checkmark"></span>
              <span class="label-for-check"> Yes</span>
            </label>
            <label class="checkboxContainer">
              <input type="radio" id="checkNo" name="vipUser4" [attr.checked]="!isVip" />
              <span class="checkmark"></span>
              <span class="label-for-check"> No</span>
            </label>
          </mat-form-field>
          <mat-form-field class="spot-text-primary" id="field">
            <input matInput placeholder="Print / Send Invoices" value="" disabled>
            <label class="checkboxContainer">
              <input type="radio" id="checkYes" name="vipUser5" [attr.checked]="isVip" />
              <span class="checkmark"></span>
              <span class="label-for-check"> Yes</span>
            </label>
            <label class="checkboxContainer">
              <input type="radio" id="checkNo" name="vipUser5" [attr.checked]="!isVip" />
              <span class="checkmark"></span>
              <span class="label-for-check"> No</span>
            </label>
          </mat-form-field>
          <mat-form-field class="spot-text-primary" id="field">
            <mat-select placeholder="Statement Invoices">
              <mat-option *ngFor="let rew of stmt" [value]="rew.value">
                {{rew.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card>
        <br>
        <mat-card>
          <mat-form-field class="spot-text-primary" id="field">
            <input matInput placeholder="Print / Send Invoices" value="" disabled>
            <label class="checkboxContainer">
              <input type="radio" id="checkYes" name="vipUser6" [attr.checked]="isVip" />
              <span class="checkmark"></span>
              <span class="label-for-check"> Yes</span>
            </label>
            <label class="checkboxContainer">
              <input type="radio" id="checkNo" name="vipUser6" [attr.checked]="!isVip" />
              <span class="checkmark"></span>
              <span class="label-for-check"> No</span>
            </label>
          </mat-form-field>
          <mat-form-field class="spot-text-primary" id="field">
            <mat-select placeholder="Statement Invoices">
              <mat-option *ngFor="let rew of stmt" [value]="rew.value">
                {{rew.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card>
      </article>
    </div>
  </section>
</section>