.card_width{
    width: 100%;
}
.btn2{
    margin-left: 19px;
    margin-top: -4px;
    border: 1px solid #bfadad;
    color: #443d3d;
    border-radius: 3px;
    width: 37%;
    position: absolute;
    background-color: #f5f5f5
}
#field{
    width: 100%;
}
#field2{
    width: 50%;
}
.cardWH{
    width: 98%;
    height: 489px;
}
.p-t{
    padding-top: 13px!important;
}
.p-b{
    padding-bottom: 46px;
}
.tbl{
    border: 1px solid #e2dbdb;
}
table th {
    padding: 5.75px!important;
}
table td{
    padding: 5.75px!important;
}
.table-wrap{
    border:1px solid #e2dbdb;
    height: 370px;
}
.link_clr{
    color:#443d3d;
    text-decoration: underline;
    padding-right: 19px;
}
.link-wrap{
    display: inline;
}
.inline-link{
    display: inline-inline;
    padding: 10px 10px;
}
#wrap_section {
    .billed_aging{
        display: inline;
        padding-bottom: 3px;
    }
    .posted_aging{
        color:#6c757d;
        display: inline;
        padding-left: 28px;
        padding-bottom: 3px;
    }
    cursor: pointer;
    border-bottom: 1px solid #d6d4d4;
    width: 100%!important;
}
//#6c757d -- ligth black  #d6d4d4 large light black  &&   #C78500 orange type
.border_down_orange{
    border-bottom: 1px solid #C78500!important;
}
.color_dark{
    color:#6c757d!important;
}
.color_orange{
    color:#C78500!important;
}
.border_down_black{
    border-bottom: 1px solid #d6d4d4!important;
}
.billed_items{
    border: 1px solid #d6d4d4;
    height: 56px;
    padding-top: 2px;
    margin-top: 10px;
    display: inline-flex;
    width: 100%;
    overflow: hidden;
}
.seperate{
    border-bottom: 1px solid #929292;
    font-size: 15px;
}
.clr_green{
    color:#02a21d;
}
.clr_purple{
    color:#8365bf;
}
.clr_purple_lit{
    color:#9d74bb;
}
.billed_balance{
    border-bottom: 2px solid #b9b3b3;
    margin-top: 7px;
    width: 100%;
    .billed_inner{
        display: flow-root;
    }
}
.Available{
    margin-top: 7px;
    width: 100%;
    .billed_inner{
        display: flow-root;
    }
}
.mr_l_px{
    float: right;
}
.width_400{
    width: 400px;
}
.pad-5{
    padding-top: 5%;
    padding-bottom: 5%;
}
.credit_card_box1 {
    height: 100px;
    width: 100%;
    border:1px solid #26B450;
    border-radius: 3px;
    background-color: rgba(38,180,80,0.1);
    text-align: center;
    cursor: pointer;
    font-family: Roboto;
}
.credit_card_box2 {
    height: 100px;
    width: 100%;
    border:1px solid #b3b3b3!important;
    border-radius: 3px;
    background-color:#eaeaea!important;
    text-align: center;
    cursor: pointer;
    font-family: Roboto;
}

.enabled-icon {    
    color: #26B450;
}
#mat-icon{
    color: #26B450;
}
.credit_card_box_icon {
    font-size: 60px;
    width: 100px;
    height: 50px;
}
.wrap_account{
    .inline{
        display: inline-flex;
    }
    width: 100%;
}
.btn2{
    margin-left: -117px;
    margin-top: -4px;
    border: 1px solid #bfadad;
    color: #443d3d;
    border-radius: 3px;
    width: 37%;
    position: absolute;
    background-color: #fff;
}
.checkboxContainer {
    display: inline;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    height: 19px;
    width: 27px;
    margin-left: 5px;
    margin-right: 10px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 10px;
    width: 10px;
    margin-top: 0px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  
  
  /* On mouse-over, add a grey background color */
  .checkboxContainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .checkboxContainer input:checked ~ .checkmark {
    background-color: #C78500;
  }
  .checkboxContainer input:checked ~ .label-for-check {
   color: #C78500;
  }
  
  .checkboxContainer input:checked +.label{
    background-color: #C78500;
  }
  
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .checkboxContainer input:checked ~ .checkmark:after {
    display: block;
  }

  .vip-user {
    opacity: 0.7 !important;
    color: #333333 !important;
    font-family: Roboto !important;
    font-size: 11px !important;
    line-height: 16px !important;
  }
  #field22{
      border-bottom: 1px solid #968b8b;
  }
  .radio_label{
      font-size: 14px;
      color:#968b8b;
  }
.note_inner{
    font-size: 12px;
    color: #8a8686;
}