.paddle-wrapper {
	position: relative;
	max-width: 500px;
	height: 50px; // hide the scroll bar
	margin: 1em auto;
	overflow-x: hidden;
	overflow-y: hidden;
}

.text-center {
	text-align: center;
}

.paddle-items {
	height: 500px; // hide the scroll bar
	box-sizing: border-box;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	
	.item {
		display: inline-block;
		width: 100px;
		height: 100%;
		outline: 1px dotted gray;
		padding: 1em;
		box-sizing: border-box;
	}
}

.paddle {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3em;
	cursor: pointer;
}
.left-paddle {
	left: 0px;
}
.right-paddle {
	right: 0px;
}
.hidden {
	display: none;
}
.input-center {
	margin-left: 47px;
}
.right {
	margin-left: 29px;
}
.mySlides {
	display: block;
  	text-align: center;
}
.field-name {
	margin-bottom: -10px;
	font-size: 12px;
}
.paddles {
	border-bottom: 1px solid black;
}
