<form class="row" [formGroup]="customerService.preferenceForm">
  <article class="col-sm-3">
    <h6>Preferences</h6>
    <mat-card>
      <h6 class="field-name">Starch</h6>
      <mat-form-field class="spot-text-primary text-center">
        <input style="margin-bottom: -20px" matInput class="mySlides" readonly>{{Starch}}
        <div>
          <label class="left-paddle paddle prev" role="button" (click)="moveback(Starch)">
            <i class="large material-icons left">chevron_left</i>
          </label>
          <label class="right-paddle paddle next" role="button" (click)="moveforward(Starch)">
            <i class="large material-icons right">chevron_right</i>
          </label>
        </div>
      </mat-form-field>
      <h6 class="field-name">Shirt Pack</h6>
      <mat-form-field class="spot-text-primary text-center">
        <input style="margin-bottom: -20px" matInput class="mySlides" readonly>{{shirt_pack}}
        <div>
          <label class="left-paddle paddle prev" role="button" (click)="moveback(shirt_pack)">
            <i class="large material-icons left">chevron_left</i>
          </label>
          <label class="right-paddle paddle next" role="button" (click)="moveforward(shirt_pack)">
            <i class="large material-icons right">chevron_right</i>
          </label>
        </div>
      </mat-form-field>
      <h6 class="field-name">Sweater Pack</h6>
      <mat-form-field class="spot-text-primary text-center">
        <input style="margin-bottom: -20px" matInput class="mySlides" readonly>{{sweater_pack}}
        <div>
          <label class="left-paddle paddle prev" role="button" (click)="moveback(sweater_pack)">
            <i class="large material-icons left">chevron_left</i>
          </label>
          <label class="right-paddle paddle next" role="button" (click)="moveforward(sweater_pack)">
            <i class="large material-icons right">chevron_right</i>
          </label>
        </div>
      </mat-form-field>
      <h6 class="field-name">Packaging</h6>
      <mat-form-field class="spot-text-primary text-center">
        <input style="margin-bottom: -20px" matInput class="mySlides" readonly>{{packaging}}
        <div>
          <label class="left-paddle paddle prev" role="button" (click)="moveback(packaging)">
            <i class="large material-icons left">chevron_left</i>
          </label>
          <label class="right-paddle paddle next" role="button" (click)="moveforward(packaging)">
            <i class="large material-icons right">chevron_right</i>
          </label>
        </div>
      </mat-form-field>
    </mat-card>
    <h6>Repair Threshold</h6>
    <mat-card>
      <mat-form-field class="spot-text-primary">
        <input matInput placeholder="Amount" formControlName="amount" [value]="amountValue | spotCurrency" />
      </mat-form-field>
    </mat-card>
  </article>
  <article class="col-sm-9">
    <div class="row">
      <div class="col-sm-11">
        <h6>
          Memos
          <span (click)="addMemo()" class="pull-right text-gray pointer noselect">
            <i class="icofont icofont-plus-circle"></i> Add More
          </span>
        </h6>
        <mat-card>
          <ng-container formArrayName="memos" *ngFor="let m of memoData.controls; let i = index">
            <div [formGroupName]="i">
              <div class="row line-height-16">
                <div class="col">
                  Subject:
                  <span class="spot-text-primary">
                    <b>None</b>
                  </span>
                </div>
              </div>
              <div class="row line-height-19" style=" margin: 0px;margin-bottom:20px">
                <div class="col-sm-10 spot-text-primary" style="padding:15px 0 2px 0;border-bottom: 1px solid #ddd;">
                  <input matInput readonly type="text" formControlName="memoText" />
                </div>
                <div class="col-sm-2 text-center" style="padding:15px 0 2px 0;">
                  <button type="button">Expired</button>
                  <mat-icon mat-list-icon class="icofont icofont-pencil-alt-1 pointer"></mat-icon>
                  <mat-icon mat-list-icon class="icofont icofont-ui-delete pointer"></mat-icon>
                </div>
              </div>
            </div>
          </ng-container>
        </mat-card>
      </div>
    </div>
  </article>
</form>
