<button mat-button (click)="cancel()" class="close-modal">X</button>
<div class="row">
  <h2 mat-dialog-title class="pull-left col-md-7">Edit Memo</h2>
  <div class="col-md-5 row text-center">
    <div class="col-md-6">Created: <b>11/27/18</b></div>
    <div class="col-md-6">By: <b>CanY</b></div>
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <div class="container pt-3">
    <form autocomplete="off" autocapitalize="none" autocomplete="off" role="form" class="row">
      <div class="col-md-6 right-border-line">
        <mat-form-field class="spot-text-primary col-md-8">
          <mat-select [(value)]="memo" placeholder="Preset Memos">
            <mat-option *ngFor="let m of memos" [value]="m.value">
              {{m.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="spot-text-primary col-md-10">
          <input matInput placeholder="Subject" value="-">
        </mat-form-field>
        <div class="col-md-12">
          <label class="mat-form-field-label mat-form-field-label-decor">Message</label>
          <ckeditor [editor]="Editor" data="<p>Hello, world!</p>" (ready)="onEditorReady($event)"></ckeditor>
        </div>
      </div>
      <div class="col-md-6 row">
        <mat-form-field class="spot-text-primary col-md-4">
          <mat-select [(value)]="status" placeholder="Status">
            <mat-option *ngFor="let s of statuses" [value]="s.value">
              {{s.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="spot-text-primary col-md-4" color="primary" floatLabel="always">
          <input matInput [matDatepicker]="datepicker" placeholder="Expires On" disabled=true>
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
        <div class="clearfix"></div>
        <div class="col-md-12 mx-2">
          <strong>Heading</strong>
        </div>
        <div class="col-md-6">
          <div class="vip-user">Log display / read</div><br />
          <mat-radio-group formControlName="vip">
            <label class="checkboxContainer">
              <input type="radio" id="checkYes" name="logDisplay" [attr.checked]="logDisplay" />
              <span class="checkmark"></span>
              <span class="label-for-check"> Yes</span>
            </label>
            <label class="checkboxContainer">
              <input type="radio" id="checkNo" name="logDisplay" [attr.checked]="!logDisplay" />
              <span class="checkmark"></span>
              <span class="label-for-check"> No</span>
            </label>
          </mat-radio-group>
        </div>
        <div class="col-md-6">
          <div class="vip-user">Display Subject </div><br />
          <mat-radio-group formControlName="vip">
            <label class="checkboxContainer">
              <input type="radio" id="checkYes" name="DisplaySubject" [attr.checked]="DisplaySubject" />
              <span class="checkmark"></span>
              <span class="label-for-check"> Yes</span>
            </label>
            <label class="checkboxContainer">
              <input type="radio" id="checkNo" name="DisplaySubject" [attr.checked]="!DisplaySubject" />
              <span class="checkmark"></span>
              <span class="label-for-check"> No</span>
            </label>
          </mat-radio-group>
        </div>
        <mat-form-field class="spot-text-primary col-md-6">
          <mat-select [(value)]="animation" placeholder="Display Animation">
            <mat-option *ngFor="let a of animations" [value]="a.value">
              {{a.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="spot-text-primary col-md-6">
          <mat-select [(value)]="frequency" placeholder="Display Frequency">
            <mat-option *ngFor="let f of frequencies" [value]="f.value">
              {{f.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-md-12">
          <div class="vip-user col-md-12 ">Print On</div>
          <div class="row col-md-12">
            <mat-radio-group class="col-md-4" formControlName="printOnInvoice">
              <label class="checkboxContainer">
                <input type="checkbox" id="printOnInvoice" name="printOnInvoice" [attr.checked]="printOnInvoice" />
                <span class="checkmark"></span>
                <span class="label-for-check"> Invoice</span>
              </label>
            </mat-radio-group>
            <mat-radio-group class="col-md-4" formControlName="printOnStatement">
              <label class="checkboxContainer">
                <input type="checkbox" id="printOnStatement" name="printOnStatement" [attr.checked]="printOnStatement" />
                <span class="checkmark"></span>
                <span class="label-for-check"> Statement</span>
              </label>
            </mat-radio-group>
            <mat-radio-group class="col-md-4" formControlName="printOnBagTag">
              <label class="checkboxContainer">
                <input type="checkbox" id="printOnBagTag" name="printOnBagTag" [attr.checked]="printOnBagTag" />
                <span class="checkmark"></span>
                <span class="label-for-check"> Bag Tag</span>
              </label>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="start">
  <button mat-button color="warn" class="send_memo_btn">Send Memo</button>
  <button mat-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>