.close-modal {
    background: transparent;
    position: fixed;
    color: white;
    right: 0px;
    top: 0px;
    outline: none;
    font-size: 250%;
}

:host ::ng-deep .ck-editor__editable {
	min-height: 150px;
	border-color: lightgrey !important;
}

:host .send_memo_btn {
    border: 1px solid orange;
    color: orange !important;
    border-radius: 20px;
}
.right-border-line {
    border-right: 1px solid lightgrey;
}
/* The checkboxContainer */
.checkboxContainer {
    display: inline;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    height: 19px;
    width: 27px;
    margin-left: 5px;
    margin-right: 10px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 10px;
    width: 10px;
    margin-top: 0px;
    background-color: #eee;
  }
  input[type='radio']~.checkmark{
    border-radius: 50%;
  }
  input[type='checkbox']~.checkmark{
    border-radius: 5%;
    border-color: grey;
  }
  
  
  
  /* On mouse-over, add a grey background color */
  .checkboxContainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .checkboxContainer input:checked ~ .checkmark {
    background-color: #C78500;
  }
  .checkboxContainer input:checked ~ .label-for-check {
   color: #C78500;
  }
  
  .checkboxContainer input:checked +.label{
    background-color: #C78500;
  }
  
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .checkboxContainer input:checked ~ .checkmark:after {
    display: block;
  }

  // .mat-radio-group {
  //   min-width: 30%;
  // }