<div class="col-sm-12 promotion-form">
  <div class="left_side">
    <form autocomplete="off" autocapitalize="none" autocomplete="off" role="form" class="row">
      <div class="">
        <article class="col-sm-10">
          <h5 class="ml-1"><strong>Discount Group</strong></h5>
          <mat-card class="card_width">
            <mat-form-field class="spot-text-primary" id="">
              <mat-select placeholder="Discount Group">
                <mat-option *ngFor="let dis of discounts" [value]="dis.value">
                  {{dis.viewValue}}
                </mat-option>
              </mat-select>
              <button type="button" class="btn2">Details</button>
            </mat-form-field>
            <mat-form-field class="spot-text-primary">
              <input matInput [matDatepicker]="picker" placeholder="Expires On" value="12/6/2018">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-card>
        </article>
        <article class="col-sm-10 p-t">
          <h5 class="ml-1"><strong>Rewards Program</strong></h5>
          <mat-card class="card_width">
            <mat-form-field class="spot-text-primary" id="field">
              <mat-select placeholder="Rewards Program">
                <mat-option *ngFor="let rew of rewards" [value]="rew.value">
                  {{rew.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card>
        </article>
        <article class="col-sm-10 p-t">
          <h5 class="ml-1"><strong>Charity Program</strong></h5>
          <mat-card class="card_width">
            <mat-form-field class="spot-text-primary" id="field">
              <mat-select placeholder="Charity Program">
                <mat-option *ngFor="let char of charity" [value]="char.value">
                  {{char.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card>
        </article>
      </div>
    </form>
  </div>
  <div class="right_side">
    <div class="row">
      <article class="col-sm-12">
        <h5 class="ml-1"><strong>Coupon Detail</strong></h5>
        <mat-card class="cardWH">
          <div class="table-wrap">
            <table class="table tbl" border="1">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Coupon Name</th>
                  <th scope="col">Coupon Type</th>
                  <th scope="col">Redeemed</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Wedding Grown Coupon-10%</td>
                  <td>Coupon</td>
                  <td>11/02/18</td>
                  <td>$6.62</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="link-wrap">
            <div class="inline-link">
              <mat-icon class="credit-card-box-icon mat-icon material-icons mat-icon-no-color justify-content-center"
                role="img" aria-hidden="true">event_note
              </mat-icon>
              <a href="#" class="link_clr">Details</a>
              <mat-icon class="credit-card-box-icon mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true">
                print
              </mat-icon>
              <a href="#" class="link_clr">Print Coupon Usage</a>
            </div>
          </div>
        </mat-card>
      </article>
    </div>
  </div>
</div>
<div class="p-b"></div>