.card_width{
    width: 300px;
}
.btn2{
    margin-left: 19px;
    margin-top: -4px;
    border: 1px solid #bfadad;
    color: #443d3d;
    border-radius: 3px;
    width: 37%;
    position: absolute;
    background-color: #f5f5f5
}
#field{
    width: 100%;
}
.cardWH{
    width: 98%;
    height: 462px;
}
.p-t{
    padding-top: 13px!important;
}
.p-b{
    padding-bottom: 46px;
}
.tbl{
    border: 1px solid #e2dbdb;
}
table th {
    padding: 5.75px!important;
}
table td{
    padding: 5.75px!important;
}
.table-wrap{
    border:1px solid #e2dbdb;
    height: 370px;
}
.link_clr{
    color:#443d3d;
    text-decoration: underline;
    padding-right: 19px;
}
.link-wrap{
    display: inline;
}
.inline-link{
    display: inline-inline;
    padding: 10px 10px;
}
.promotion-form{
    padding-left:0px;
    display:flex;
    flex-direction:row;
    -ms-flex-direction:row;
    -moz-flex-direction:row;
    -webkit-flex-direction:row;
}
.right_side{
    margin-left: 0px;
    flex: 1;
    -ms-flex: 1;
    -moz-flex: 1;
    -webkit-flex: 1;
}