<form [formGroup]="customerService.lookupForm" autocomplete="off" autocapitalize="none" autocomplete="off" role="form">
  <div class="row">
    <div class="col-md-5">
      <h6>
        Dates
        <span class="text-gray pointer noselect pull-right" (click)="addDate()" ><mat-icon svgIcon="spot-add-more-button-icon"></mat-icon>
          Add More
        </span>
      </h6>
      <div class="clearfix"></div>
      <ng-container *ngFor="let date of datesData.controls; let i = index" formArrayName="dates">
        <mat-card>
          <mat-card-content class="justify-content-center" [formGroupName]="i">
            <mat-form-field class="col-md-6 spot-text-primary" floatLabel="always">
              <input type="text" matInput placeholder="Event" formControlName="event">
            </mat-form-field>
            <mat-form-field class="col-md-6 spot-text-primary" floatLabel="always">
              <input matInput [matDatepicker]="datepicker" formControlName="date" placeholder="Date">
              <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker></mat-datepicker>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-md-5">
      <h6>
        Extended Lookup
        <span class="text-gray pointer noselect pull-right" (click)="addExtendedLookup()" ><mat-icon svgIcon="spot-add-more-button-icon"></mat-icon>
          Add More
        </span>
      </h6>
      <div class="clearfix"></div>
      <ng-container formArrayName="extendedLookup" *ngFor="let e of extendedLookupData.controls; let i = index">
        <mat-card [formGroupName]="i">
          <mat-card-content class="justify-content-center">
            <mat-form-field class="col-md-6 spot-text-primary" color="primary" floatLabel="always">
              <input type="text" matInput placeholder="Number" formControlName="number">
            </mat-form-field>
            <mat-form-field class="col-md-6 spot-text-primary" color="primary" floatLabel="always">
              <mat-select placeholder="Description" formControlName="description">
                <mat-option value="A"> A </mat-option>
                <mat-option value="B"> B </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-md-5">
      <h6>
        Custom Fields
        <span class="text-gray pointer noselect pull-right" (click)="addCustomFields()" ><mat-icon svgIcon="spot-add-more-button-icon"></mat-icon>
          Add More
        </span>
      </h6>
      <div class="clearfix"></div>
      <ng-container formArrayName="customFields" *ngFor="let c of customFieldsData.controls; let i = index">
        <mat-card [formGroupName]="i">
          <mat-card-content class="justify-content-center">
            <mat-form-field class="col-md-6 spot-text-primary" color="primary" floatLabel="always">
              <input type="text" matInput placeholder="Field Name" formControlName="name">
            </mat-form-field>
            <mat-form-field class="col-md-6 spot-text-primary" color="primary" floatLabel="always">
              <input matInput placeholder="Value" formControlName="value">
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-md-5">
      <h6>
        Other Contacts
        <span class="text-gray pointer noselect pull-right" (click)="addOtherContacts()" ><mat-icon svgIcon="spot-add-more-button-icon"></mat-icon>
          Add More
        </span>
      </h6>
      <div class="clearfix"></div>
      <ng-container *ngFor="let o of otherContactsData.controls; let i = index" formArrayName="otherContacts">
        <mat-card [formGroupName]="i">
          <mat-card-content class="justify-content-center">
            <mat-form-field class="col-md-4 spot-text-primary" color="primary" floatLabel="always">
              <mat-select formControlName="relationship" placeholder="Relationship">
                <mat-option value="A"> Spouse </mat-option>
                <mat-option value="B"> B </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-4 spot-text-primary" color="primary" floatLabel="always">
              <input matInput placeholder="First Name" formControlName="firstName">
            </mat-form-field>
            <mat-form-field class="col-md-4 spot-text-primary" color="primary" floatLabel="always">
              <input matInput placeholder="Last Name" formControlName="lastName">
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>
</form>