.close-modal {
    background: transparent;
    position: fixed;
    color: white;
    right: 0px;
    top: 0px;
    outline: none;
    font-size: 250%;
}

:host .savecc {
    border: 1px solid orange;
    color: orange !important;
    border-radius: 20px;
}

.payfield-icon {
    width: 32px;
    height: 16px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url(/assets/images/cc/credit.png);
    background-size: cover;
}

.mastercard {
    background-image:  url(/assets/images/cc/mastercard.png);
}
.discover {
    background-image:  url(/assets/images/cc/discover.png);
}
.visa {
    background-image:  url(/assets/images/cc/visa.png);
}
.output {
    width: 100%;
    height: auto;
    background-image:  url(/assets/images/cc/not-verified.jpg);
    background-repeat: no-repeat;
}
.verified {
    background-image:  url(/assets/images/cc/verified.jpg);
}

.info_holder {
    width: 32px;
    height: 16px;
    position: absolute;
    top: 1px;
    right: 5px;   
}