<button mat-button (click)="cancel()" class="close-modal">X</button>
<div class="row">
  <h2 mat-dialog-title class="pull-left col-md-8 abc">Edit Credit Card</h2>
  <div class="col-md-4 row text-center ">
    <div class="output" [ngClass]="{'verified' : cardValidated !== '' }">
    </div>
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <div class="container pt-3">
    <form class="row">
      <mat-form-field class="spot-text-primary col-md-4">
        <mat-select [(value)]="type" placeholder="Type">
          <mat-option *ngFor="let t of types" [value]="t.value">
            {{t.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="spot-text-primary col-md-8">
        <input matInput placeholder="Name On Credit Card" name="name" [(ngModel)]="name">
      </mat-form-field>
      <mat-form-field class="spot-text-primary col-md-6">
        <div class="payfield-icon {{cardValidated}}"></div>
        <input matInput placeholder="Card Number" name="cardNumer" [(ngModel)]="cardNumer" type="text" (keyup)="cardChange()">
      </mat-form-field>
      <mat-form-field class="spot-text-primary col-md-3">
        <input matInput placeholder="Expiry MM/YY" name="expiery" [(ngModel)]="expiery" spotAppCardExpiry type="text"
          minlength="5" maxlength="5">
      </mat-form-field>
      <mat-form-field class="spot-text-primary col-md-3">
        <span class="info_holder">
          <mat-icon>info</mat-icon>
        </span>
        <input matInput placeholder="CVCs" name="cvc" [(ngModel)]="cvc" type="text">
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="start">
  <button mat-button color="warn" class="savecc">Save Credit Card</button>
  <button mat-button>Delete</button>
  <button mat-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>
