/* You can add global styles to this file, and also import other style files */
@import 'assets/spot-theme.scss';
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$spot-app-primary: mat-palette($md-spot-primary,500);
$spot-app-accent:  mat-palette($mat-amber, A200, A100, A400);

// The warn palette is optional (defaults to red).
$spot-app-warn:    mat-palette($mat-yellow);

// Create the theme object (a Sass map containing all of the palettes).
$spot-app-theme: mat-light-theme($spot-app-primary, $spot-app-accent, $spot-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($spot-app-theme);
body{
    margin:0px;
    overflow-x: hidden;
    font-family: Roboto;
}
.mat-button.mat-primary{
    color:$md-primary-text;
    border-color:$md-primary-text; 
    cursor: pointer;
}
.mat-button.mat-primary[disabled]{
    color:$md-primary-text;
    opacity: 0.5;
    cursor: not-allowed;
}
mat-icon{
    color:#777
}
.mat-form-field-label{
    opacity: 0.8 !important;
    color: #333333  !important;
    font-family: Roboto  !important;
    font-size: 14px  !important;
    line-height: 16px  !important;
}
.mat-list-base .mat-list-item .mat-list-text{
    padding-left:3px !important;
}
.mat-list-base .mat-list-item .mat-list-text h4{
    font-size:11pt !important;
    color:#3d3d3d;
}
.spot-bg-primary{
    background-color:#F6BE45 !important;
}
.spot-text-primary,
.spot-text-primary h4,
.spot-text-primary .mat-select-value,
.spot-text-primary mat-icon,
{
    color: #C78500 !important;
}
.text-success{
    color:#26B450
}
.line-height-16{
    line-height: 16px;
    font-size: 14px;
}
.line-height-19{
    line-height: 19px;
    font-size: 16px;
    font-weight: 500;
}
.text-gray{
    color:gray;
    font-size: 10pt;
}

mat-card {
    margin: 8px;
  }
  
form h6 {
    padding: 0 6px;
    color: #333333;
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
  }
  
.hidden {
    display: none;
}

.mat-expansion-panel-content > .mat-expansion-panel-body {
    padding: 0;
    font-size: 15px;
    font-weight: 400;
  }
  
.mat-tab-label-active {
    .mat-tab-label-decor, 
    .mat-tab-label-decor .mat-icon-decor {
        color: orange;
    }
}

.pointer {
    cursor: pointer;
}

.noselect {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
                
  }
  
  .full-container {
    display: flex;
    flex-direction: column;
  }
  
  .full-container > * {
    width: 100%;
  }
.content-area .row:first-child{
    margin-left:-15px;
}

.cdk-overlay-pane.custom-modalbox{
    position:relative !important;
}
.cdk-overlay-pane.custom-modalbox:before{
    height:40px;
    width:40px;
    pointer-events: none;
    background: url(assets/images/icons/menu-close.svg) center no-repeat;
    position: absolute;
    color: white;
    right: -35px;
    text-align: center;
    top: -5px;
    outline: none;
    font-size: 25px;
    content:'';
    cursor: pointer;
}
mat-icon[svgicon="spot-edit"],
mat-icon[svgicon="spot-delete"]
{
 margin-left:8px;width:20px;height:20px;
}
mat-icon[svgicon="spot-add-more-button-icon"]
{
    width:15px;
    height:15px;
    margin-right: 5px;    
}
.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.62);
}
.mat-checkbox-checked .mat-checkbox-label{
    color:#ffc107;
}
.grn {
    color: green;
}