<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="addressForm" autocomplete="off" autocapitalize="none" autocomplete="off" role="form" class="row">
    <div class="col-sm-12">
      <label>Address for</label>
    </div>
    <div class="col-sm-4 all-border n-bb-0 n-br-0" formArrayName="for">
      <mat-checkbox formControlName="0">Default</mat-checkbox>
    </div>
    <div class="col-sm-4 all-border n-bb-0 n-br-0" formArrayName="for">
      <mat-checkbox formControlName="1">Delivery</mat-checkbox>
    </div>
    <div class="col-sm-4 all-border n-bb-0">
    </div>
    <div class="col-sm-4 all-border n-br-0" formArrayName="for">
      <mat-checkbox formControlName="2">Billing</mat-checkbox>
    </div>
    <div class="col-sm-4 all-border n-br-0" formArrayName="for">
      <mat-checkbox formControlName='3'>Mailing</mat-checkbox>
    </div>
    <div class="col-sm-4 all-border" formArrayName="for">
      <mat-checkbox formControlName="4">Other</mat-checkbox>
    </div>
    <mat-form-field class="spot-text-primary col-sm-12">
      <input matInput placeholder="Address Line 1" formControlName="line1">
    </mat-form-field>
    <mat-form-field class="spot-text-primary  col-sm-12">
      <input matInput placeholder="Address Line 2" formControlName="line2">
    </mat-form-field>
    <mat-form-field class="spot-text-primary col-sm-4">
      <input matInput placeholder="City" formControlName="city">
    </mat-form-field>
    <mat-form-field class="spot-text-primary col-sm-4">
      <mat-select placeholder="State" formControlName="state">
        <mat-option *ngFor="let s of states" [value]="s.code">
          {{s.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="spot-text-primary col-sm-4">
      <input matInput placeholder="Zip" formControlName="zip">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="start">
  <button mat-button color="warn" class="send_message_btn" (click)="save()">Save Address</button>
  <button mat-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>
