.credit-card-box {
    height: 100px;
    width: 100%;
    border-radius: 3px;
    background-color: rgba(38,180,80,0.1);
    text-align: center;
    cursor: pointer;
    font-family: Roboto;
}

.enabled {
    border: 1px solid #26B450;
    color: #26B450;
}

.disabled {
    border: 1px solid rgba(51,51,51,0.3);
    background-color: rgba(51,51,51,0.1);
}

.enabled-icon {    
    color: #26B450;
}

.disabled-icon {    
    color: #333333
}

.credit-card-box-icon {
    font-size: 60px;
    width: 60px;
    height: 60px;
}

.pad-top-10 {
    padding-top: 10%;
}

.pad-5 {
    padding-top: 5%;
    padding-bottom: 5%;
}

.drk-gray-rgt-border {
    border-right: 1px solid darkslategray;
}