<form class="row" [formGroup]="group">
  <div class="col-sm-3">
    <h6 class="ml-1">Credit Card Settings</h6>
    <mat-card>
      <div [class.enabled]="enabledValue" [class.disabled]="!enabledValue" class="justify-content-center credit-card-box enabled"
        (click)="enableToggle()">
        <mat-icon [class.enabled-icon]="enabledValue" [class.disabled-icon]="!enabledValue" class="credit-card-box-icon noselect">credit_card</mat-icon>
        <br />
        <span class="credit-card-label noselect">Credit Card: {{enabledValue ? 'Enabled': 'Disabled'}}</span>
        <mat-checkbox type="checkbox" [checked]="enabledValue" formControlName="enabled" class="hidden"></mat-checkbox>
      </div>
      <div class="pad-5">
        <small>Click above to {{enabledValue ? 'disable': 'enable'}}</small>
      </div>
      <mat-divider></mat-divider>
      <mat-form-field style="width: 100%" class="spot-text-primary pad-top-10">
        <mat-select placeholder="Usage" formControlName="usage">
          <mat-option value="Never"> Never </mat-option>
          <mat-option value="Sometimes"> Sometimes </mat-option>
          <mat-option value="Always"> Always </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field style="width: 100%" class="spot-text-primary">
        <mat-select placeholder="Counter CC Charge At" formControlName="counterCreditCardCharge">
          <mat-option value="StoreDefault"> (Store Default) </mat-option>
          <mat-option value="Mastercard"> (Mastercard) </mat-option>
          <mat-option value="Visa"> (Visa) </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field style="width: 100%" class="spot-text-primary">
        <mat-select placeholder="Route CC Charge At" formControlName="routeCreditCardCharge">
          <mat-option value="StoreDefault"> (Store Default) </mat-option>
          <mat-option value="Mastercard"> (Mastercard) </mat-option>
          <mat-option value="Visa"> (Visa) </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
    </mat-card>
  </div>
  <div class="col-sm-9">
    <div class="d-flex" style="padding-right: 10px;margin-left:-15px;flex-direction: row; flex-wrap: nowrap; ">
      <h6 style="flex:1; ">Credit Cards</h6>
      <span class="text-gray pointer noselect"><mat-icon svgIcon="spot-add-more-button-icon"></mat-icon>
        Add More
      </span>
    </div>
    <mat-card class="d-flex" style="margin-left:-15px;flex-direction: row; flex-wrap: nowrap; ">
      <mat-form-field class="col-md-2 spot-text-primary" color="primary">
        <mat-select placeholder="Type" formControlName="creditCardType">
          <mat-option value="Primary"> Primary </mat-option>
          <mat-option value="Secondary"> Secondary </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-md-4 spot-text-primary" color="primary">
        <input matInput placeholder="Name on Credit Card" formControlName="nameOnCard">
      </mat-form-field>
      <mat-form-field class="col-md-2 spot-text-primary" color="primary">
        <input type="number" matInput placeholder="Last 4 Digits" formControlName="lastFourDigits">
      </mat-form-field>
      <mat-form-field class="col-md-2 spot-text-primary" color="primary">
        <input matInput placeholder="Expires" formControlName="expires">
      </mat-form-field>
      <button mat-icon-button class="col-md-1">
        <mat-icon svgIcon="spot-sales-copy"></mat-icon>
      </button>
      <span class="drk-gray-rgt-border"></span>
      <div class="col-2">
        <mat-icon mat-list-icon svgIcon="spot-edit" (click)="editCCard()"></mat-icon>
        <mat-icon mat-list-icon svgIcon="spot-delete"></mat-icon>
      </div>
    </mat-card>
    <div class="row d-flex">
      <button mat-button class="ml-auto">
          <mat-icon svgIcon="spot-sales" style="width:16px"></mat-icon> Payment History
      </button>
    </div>
  </div>
  <div class="col-auto"></div>
</form>