<form role="form" [formGroup]="customerService.referralForm" autocomplete="off" autocapitalize="none" autocomplete="off" role="form">
  <div class="row">
    <div class="col-4">
      <h6 class="headings-custom mt-3">Referral Source</h6>
      <mat-card class="full-container">
        <mat-form-field class="spot-text-primary" color="primary" floatLabel="always">
          <mat-select formControlName="referralSource" placeholder="Referral Source">
              <mat-option *ngFor="let source of referralSources" [value]="source.id">{{source.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="spot-text-primary" color="primary" floatLabel="always">
          <input matInput placeholder="Referral Details" formControlName="referralDetails" />
        </mat-form-field>
      </mat-card>
    </div>
    <div class="col-4">
      <h6 class="headings-custom mt-3">Customer Referral</h6>
      <mat-card class="full-container">
        <mat-form-field class="spot-text-primary" color="primary" floatLabel="always">
          <mat-select formControlName="customerReferral" placeholder="Customer Referral">
            <mat-option value="A">None</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="spot-text-primary" color="primary" floatLabel="always">
          <input matInput placeholder="Referral Details" formControlName="customerReferralDetails"/>
        </mat-form-field>
      </mat-card>
    </div>
  </div>
</form>
