<h2 mat-dialog-title>Message Customer</h2>
<mat-dialog-content class="mat-typography">
	<mat-tab-group dynamicHeight>
		<mat-tab>  
		    <ng-template mat-tab-label>
		    	<div class="mat-tab-label-decor">
		      		<mat-icon class="mat-icon-decor">mail_outline</mat-icon>
		      		<span class="text">Email</span>
		    	</div>
		    </ng-template>
			<div class="container pt-3">
				<form autocomplete="off" autocapitalize="none" autocomplete="off" role="form" class="row">
		            <mat-form-field class="spot-text-primary col-md-6">
						<mat-select [(value)]="template" placeholder="Template">
							<mat-option *ngFor="let t of templates" [value]="t.value">
								{{t.viewValue}}
							</mat-option>
						</mat-select>
		            </mat-form-field>
		            <mat-form-field class="spot-text-primary col-md-6">
						<mat-select [(value)]="email" placeholder="Email">
							<mat-option *ngFor="let e of emails" [value]="e.value">
								{{e.viewValue}}
							</mat-option>
						</mat-select>
		            </mat-form-field>
		            <mat-form-field class="spot-text-primary col-md-12">
						<input matInput placeholder="Subject" value="-">
				    </mat-form-field>
				    <div class="col-md-12">
						<label class="mat-form-field-label mat-form-field-label-decor">Message</label>
						<ckeditor [editor]="Editor" data="<p>Hello, world!</p>" (ready)="onEditorReady($event)"></ckeditor>
						<button mat-button (click)="fileToUpload.click()">
						      <mat-icon>forum</mat-icon>
						      Add Attachment
						</button>
						<input #fileToUpload type="file" style="display:none;">
				    </div>

		        </form>
			</div>
		</mat-tab>
		<mat-tab>  
		    <ng-template mat-tab-label>
		    	<div class="mat-tab-label-decor">
		      		<mat-icon class="mat-icon-decor">chat</mat-icon>
		      		<span class="text">SMS</span>
		    	</div>
		    </ng-template>
			Content 2 
		</mat-tab>
		<mat-tab>  
		    <ng-template mat-tab-label>
		    	<div class="mat-tab-label-decor">
		      		<mat-icon class="mat-icon-decor">phone_in_talk</mat-icon>
		      		<span class="text">Voice</span>
		    	</div>
		    </ng-template>
			Content 3
		</mat-tab>
	</mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="start">
  <button mat-button color="warn" class="send_message_btn">Send Message</button>
  <button mat-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>
