.mat-icon-decor{
	padding-right: 35px;
	font-size: 25px;
    vertical-align: sub;
}

.mat-tab-label-decor .text {
    font-size: 27px;
    vertical-align: baseline;
}
:host ::ng-deep .ck-editor__editable {
	min-height: 200px;
	border-color: lightgrey;
}

:host .mat-form-field-label-decor{
    display: block;
    top: 0;
    position: inherit;
    font-size: 12px !important;
}

:host .send_message_btn {
    border: 1px solid orange;
    color: orange !important;
    border-radius: 20px;
}

:host .mat-dialog-actions {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.close-modal {
    font-size: 150%;
}

.close-modal {
    background: transparent;
    position: fixed;
    color: white;
    right: 0px;
    top: 0px;
    outline: none;
    font-size: 250%;
}

/* General Css for Tabs Titles */
.mat-tab-label-decor {
    display: flex;
        font-size: 16px;
    .mat-icon-decor {
        font-size: 20px;
    }
}